ALTER TABLE vault DROP COLUMN IF EXISTS encrypted_name;
ALTER TABLE vault DROP COLUMN IF EXISTS title;
ALTER TABLE vault ADD COLUMN title text NOT NULL DEFAULT '';
ALTER TABLE vault ALTER COLUMN title DROP DEFAULT;

ALTER TABLE vault ALTER COLUMN encrypted_username DROP NOT NULL;
ALTER TABLE vault ALTER COLUMN encrypted_password DROP NOT NULL;

ALTER TABLE vault ADD COLUMN encrypted_comments text;
ALTER TABLE vault ADD COLUMN last_modified timestamp with time zone DEFAULT timezone('utc'::text, now());
